/* CONFIGURAÇÕES GERAIS */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.mt{
    margin-top:20px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}



/* CONFIGURAÇÕES DE CONSTRUÇÃO */

.display {
    display:flex;
}

.line15{
    line-height: 1.5;
}

.gap-20{
    gap:20px;
}

.flex-column {
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.align-end{
    align-items: end;
}

.border{
    border:3px solid red;
}


/* SIDEBAR */

aside{
    background-color:#131f2f;
    color:white;
    padding:30px;
    line-height:3.0;
    height: 100vh;
}
aside ul img {
    padding-right:20px;
}

.login{
    padding:20px;
}

main{
    width:100%;
    line-height: 3.0;
}

.card-img {
    padding:30px;
}

.conteiner{
    flex:1;
    width:100%;
    max-width: 1330px;
    margin: 0 auto;
    padding-inline:50px;
    line-height: 1.5;
}

#card-metricas{
    height:100px;
}

.card-total-produtos {
    border:1px solid;
    border-radius:12px;
    flex:1;
    line-height:2.0;
    padding:10px;
    

}
