/* CONFIGURAÇÕES GERAIS */

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
}

.mt-20{
    margin-top:20px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

a{
    color: white;
}



/* CONFIGURAÇÕES DE CONSTRUÇÃO */

.display {
    display:flex;
}

.mt-10{
    margin-top:10px;
}

.gap-20{
    gap:20px;
}

.flex-column {
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.justify-center{
    justify-content: center;
}

.align-end{
    align-items: end;
}

.border{
    border:3px solid red;
}


/* SIDEBAR */

aside{
    background-color:#131f2f;
    color:white;
    padding:30px;
    line-height:3.0;
    height: 100vh;
}
aside ul img {
    padding-right:20px;
}

/* MAIN */

main{
    width:100%;
    flex:1;
}

.conteiner{
    width:100%;
    max-width: 1330px;
    padding-inline:50px;
    line-height: 1.5;
}

.login{
    padding:20px;
}

/* CARDS */

.card-img {
    padding:30px;
}

#card-metricas{
    height:100px;
}

.card-geral-produtos {
    border:1px solid;
    border-radius:12px;
    flex:1;
    line-height:2.0;
    padding:10px;
}

/* CADASTRAR PRODUTO */

.cadastrar-produto{
    height:120px;
    border:1px solid;
    border-radius:12px;
}

.flex{
    flex:1
}

#produtos-cadastrados{
    border:1px solid;
    border-radius:12px;
}

.produtos-cadastrados-header{
    border:1px solid;
    border-radius:12px;
}

.colunas-lista{
    flex:1;

}
